@yellow: #8f8d63;
@black: #434a41;
@red: #b84c37;
@green: #66a854;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: @black;
    .margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
}

.card-servicio {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-servicio {
    width: 100%;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.footer-address-icon {
    padding-right: 10px;
}

.space-icon {
    padding-right: 5px;
}

.img-fluid {
    max-width: 100%;
    max-height: 50%;
}

.tab-content {
    padding-top: 10px;
}